html, body {
    overflow: hidden;
    height: 100%;
}
body {
	width: 100%;
	//max-width: 100vw;
	min-height: 100vh;
	font-size: 14px;
	font-weight: 300;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.is-reveal-open {
		.main-footer,
		.main-header,
		main {
			filter: blur(10px);
		}
	}
	@include breakpoint(medium down) {
		background-image: none;
	}
}

figure {
	margin: 0;
}

* {
	outline: none;
}

a {
	transition-duration: .3s;

	&:hover {
		transition-duration: .3s;
	}
}

p {
	font-size: 16px;
}

h1,
h2,
h3 {
	font-weight: 500;
	color: $black;
    text-transform: uppercase;
}

main {}

.ib {
	display: inline-block;
}
// grid-x
$x: 8;

.grid-#{$x} {
	@include -zf-each-breakpoint {
		 @for $i from 1 through $x{
			.#{$-zf-size}-#{$i} {
				@include grid-col-size($i of $x);
			}
			@if $i < $x {
				.#{$-zf-size}-push-#{$i} {
					left: percentage($i/$x);
				}

				.#{$-zf-size}-pull-#{$i} {
					left: - percentage($i/$x);
				}
			}
		}
	}
}

.vc {
	display: table;
	height: 100%;
	width: 100%;

	&__inner,
	.vc-inner {
		position: relative;
		vertical-align: middle;
		display: table-cell;

		&--bottom,
		&.bottom {
			vertical-align: bottom;
		}

		&--top,
		&.top {
			vertical-align: top;
		}
	}
}

.no-touch [data-anim],
[data-anim] {
	visibility: hidden;

	&.animated {
		animation-duration: 1s;
		visibility: visible;
	}
}

.no-js [data-anim] {
	visibility: visible !important;
}

.bg-cover {
	@include bg-cover();
}

.fit-cover {
	@include fit-cover();
}

.flex-center {
    display:flex;
    align-items:center;
    justify-content:center;
}

.arrow {
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 50px !important;
    height: auto !important;
    transition: all .5s linear !important;
    &:hover {
        transform: scale(1.1) !important;
        background: none !important;
    }
}
