@import "../../bower_components/foundation-sites/scss/util/util";
@import '../../bower_components/foundation-sites/scss/components/reveal';
// https://github.com/zurb/foundation-sites/blob/develop/scss/settings/_settings.scss
// 1. Global
// ---------
// MAX row width
$max-width: 1240;
$contrast-warnings: false;
$global-font-size: 100%;
$global-width: rem-calc($max-width);
$global-lineheight: 1.72;
$black: #000000;
$white: #ffffff;
$body-background: $white;
$body-font-color: $black;
$body-font-family: Montserrat, Helvetica, Arial, sans-serif;
// 2. Breakpoints
// --------------
$breakpoints: ( small: 0, medium: 640px, large: 1124px, xlarge: 1440px);
$breakpoint-classes: (small medium large xlarge);
$paragraph-margin-bottom: 20px;

$header-font-family: $body-font-family;
$header-styles: (
                 'small': (
                           'h1': ('fs': 30, 'lh': 35, 'mt': 0, 'mb': 20),
                           'h2': ('fs': 27, 'lh': 32, 'mt': 0, 'mb': 20),
                           'h3': ('fs': 23, 'lh': 28, 'mt': 0, 'mb': 20),
                           'h4': ('fs': 14, 'lh': 19, 'mt': 0, 'mb': 20),
                           'h5': ('fs': 14, 'lh': 19, 'mt': 0, 'mb': 20),
                           'h6': ('fs': 12, 'lh': 17, 'mt': 0, 'mb': 20)
                           ),
                 'medium': (
                            'h1': ('fs': 36, 'lh': 48, 'mt': 0, 'mb': 20),
                            'h2': ('fs': 36, 'lh': 48, 'mt': 0, 'mb': 20),
                            'h3': ('fs': 24, 'lh': 36, 'mt': 0, 'mb': 20),
                            'h4': ('fs': 20, 'lh': 30, 'mt': 0, 'mb': 20),
                            'h5': ('fs': 18, 'lh': 25, 'mt': 0, 'mb': 20),
                            'h6': ('fs': 14, 'lh': 17, 'mt': 0, 'mb': 20)
                            ),
                 'large': (
					            'h1': ('fs': 56, 'lh': 64, 'mt': 0, 'mb': 45),
               				'h2': ('fs': 36, 'lh': 48, 'mt': 0, 'mb': 20),
               				'h3': ('fs': 24, 'lh': 31, 'mt': 0, 'mb': 16),
               				'h4': ('fs': 20, 'lh': 30, 'mt': 0, 'mb': 20),
               				'h5': ('fs': 18, 'lh': 25, 'mt': 0, 'mb': 20),
               				'h6': ('fs': 14, 'lh': 17, 'mt': 0, 'mb': 20)
                        ),
                 );

// 3. The Grid
// -----------
$grid-row-width: $global-width;
$gutter: 12;
$row-width: $max-width+$gutter*2;
$grid-column-align-edge: false;
$grid-column-gutter: ( small: $gutter, medium: $gutter );
// https://github.com/zurb/foundation-sites/blob/develop/scss/foundation.scss
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-badge;
@include foundation-table;
@include foundation-tabs;
@include foundation-accordion;
@include foundation-pagination;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-reveal;
