.main-header {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;


    .column {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__nav {
            width: 100%;
            text-align: center;
        ul {
            @include reset-list;

            li {
                display: block;
                position: absolute;
                
                &:nth-child(1) {
                    top: 28px;
                    left: calc(50% - 44.385px);
                }                
                &:nth-child(2) {
                    transform: rotate(90deg);
                    top: 50%;
                    right: 28px;
                }                
                &:nth-child(3) {
                    transform: rotate(-90deg);
                    top: 50%;
                    left: 28px;
                }                
                &:nth-child(4) {
                    position: absolute;
                    left: calc(50% - 39.095px);
                    bottom: 28px;
                }

            }
        }

        a {
            color: $black;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            transition: all 0s ease-in-out;

            &:hover {
                color: $gray;
            }
        }
    }

}
.hidden {
    z-index: 1;
    a, h1, h2 {
       // color: white;
    }
}

.page--landing {

    position: relative;

    h1 {
        //font-size: 80px;
        font-weight: 700;
    }
    
    h2 {
        //font-size: 70px;
        span {
            color: $primary;
        }
    }

    .splash {
        height: 100vh;
        position: relative;
        text-align: center;
        transition: all 0s ease-in-out;
        z-index: 1;
    }

    .skills {
        position: absolute;
        left: 100vw;
        top: 0;
    }

    .about-me {
        position: absolute;
        bottom: 100vh;

    }

    .contact {
        position: absolute;
        top: 100vh;
    }

    .contact, .skills, .portfolio, .about-me {
        width: 100vw;
        height: 100vh;
        text-align: center;
        z-index: 3;
        background-color: white;

        transition-property: top, bottom, left, right;
        transition-duration: 1s;
        h2 {
            margin: 0;
            position: absolute;
            top: 30px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%)
        }
    }

    .back {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .about-me {
        display:flex;
        align-items:center;
        justify-content:center;

        background-image: url(../images/about-me-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;

        .row {
            &:last-child {
                .column {
                    //background: rgba(62, 62, 62, 0.31);
                    //padding: 10px;
                    border-left: 5px $primary solid;
                }

            }
        }

        .social {
           float: right;
        }

        a {
            padding-left: 15px;
        }

        img {
            border-radius: 50%;
            width: 60px;
            height: auto;
            transition: all .5s linear;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            &:hover {
                background: $secondary;
                transform: scale(1.2);
                box-shadow: 0px 8px 15px rgba(128, 0, 128, 0.4);
            }
        }


        p {
            span {
                font-weight: 700;
                font-size: 120%;
            }
        }
    }

    .skills {

        .medium-1 {
            &:nth-child(even) {
                margin-top: 105px;
                margin-left: 15px;
            }
            &:nth-child(odd) {
                margin-left: 15px;
            }
        }


        .slide {
            visibility: hidden;
            display: block;

            &:nth-child(2) {
                height: 570px;
            }
        }

        .controls {
            .dot {
                background-color: transparent;
                display:inline-block;
                height:13px;
                width:13px;
                padding:0;
                cursor: pointer;
                text-align:center;
                border-radius:50%;
                border:1px solid $primary;

                &.active {
                    background-color: $primary;
                }
            }
        }



        .square {

            height: 150px;
            width: 150px;
            padding: 25px;
            border: 1px solid $gray;
            border-radius: 5px;
            transform: rotate(45deg);
            margin-bottom: 60px;
            display:flex;
            align-items:center;
            justify-content:center;
            transition: all 0.5s ease-in-out;

            img {
                position: relative;
                height: 100px;
                width: 100px;
                transform: rotate(-45deg);
                opacity: .1;
                transition: all 0.5s ease-in-out;
                filter: grayscale(50%);
            }

            &:hover {
                border: 1px solid $primary;
                transform: rotate(0);
                img {
                    opacity: 1;
                    filter: grayscale(0%);
                    transform: scale(1.05) rotate(0);
                }

                h3 {
                    opacity: 0;
                }
            }


            h3 {
                position: absolute;

                transition: opacity 0.5s ease-in-out;
                opacity: 1;
                transform: rotate(-45deg);
            }
        }

        @include breakpoint(large down) {
            .slider {
                transform: scale(.7);
            }
        }
    }


    .contact {

        .row {

            &:nth-child(1) {
                padding-top: 30px;

            }

        }

        h3 {
            transition: all 0.5s ease-in-out;
            transform: scale(1);
        }

        a {
            color: $gray;
            z-index: 3;
            position: relative;
            &:hover {
                color: $primary;

            }

        }

        .contact-box {

            transition: all 0.5s ease-in-out;
            //background-color: rgba(255, 0, 0, 0.43);
            //border-radius: 50%;
            margin-bottom: 20px;
            height: 250px;
            width: 250px;
            //opacity: .1;
            //background-repeat: no-repeat;
            //background-size: cover;
            //background-position: center;
            position: relative;
            display:flex;
            align-items:center;
            justify-content:center;

            svg {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 0;


                path, circle {
                    transition: 1s;
                    z-index: 0;
                }
            }


            &:hover {
                transform: scale(1.1);
                h3 {

                }
                svg {
                    path, circle {

                        fill: $secondary;
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
                    }

                }
            }




        }




        .column > div {
            margin: 0 auto;
        }
    }

    .main-footer {
        margin-top: -100px;
        padding-top: 30px;
        text-align: center;
        position: relative;

        p {
            margin: 0;
        }

        a {
            color: black;

            &:hover {
                color: $primary;
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 45px;
            background: $primary;
            display: block;
        }
    }

} //end page--landing





