.main-header {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;

    .column {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__nav {
            width: 100%;
            text-align: center;
        ul {
            @include reset-list;

            li {
                display: block;
                position: absolute;
                
                &:nth-child(1) {
                    top: 28px;
                    left: calc(50% - 44.385px);
                }                
                &:nth-child(2) {
                    transform: rotate(90deg);
                    top: 50%;
                    right: 28px;
                }                
                &:nth-child(3) {
                    transform: rotate(-90deg);
                    top: 50%;
                    left: 28px;
                }                
                &:nth-child(4) {
                    position: absolute;
                    left: calc(50% - 39.095px);
                    bottom: 28px;
                }

            }
        }

        a {
            color: $black;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                color: $gray;
            }
        }
    }

    @include breakpoint($row-width down) {
        padding-right: 30px;
        padding-left: 30px;

        &__nav {
            ul {
                li {
                margin-right: 40px;
                }
            }
        }

        &__btns {
            li {
                margin-right: 40px;
            }
        }
    }
    
    @include breakpoint(medium down) {
        &__btns {
            white-space: nowrap;

            li {
                margin-right: 20px;

                i {
                    margin-right: 0;
                }

                span {
                    display: none;
                }
            }
        }
    }
    
    @include breakpoint(medium down) {
        &__nav {
            display: none;
        }
    }
    
    @include breakpoint(small only) {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;

        svg {
            width: 120px;
        }
    }

    &.sticky {
        padding: 0 10px;

        .logo {
            svg {
                width: 120px;
            }
        }
    }
}


.page--landing {
    
    h1 {
        font-size: 80px;
        font-weight: 700;
    }
    
    .splash {
        position: relative;
        text-align: center;

        .vc {
            height: 100vh;
        }
    }
} //end page--landing