// COLORS
$gray: #989797;
$primary: #6787a0;
$secondary: #d6dfe6;

// ANIMATIONS SETTINGS
$use-fadeIn: true;
$use-fadeInUp: true;
$use-fadeInDown: true;
$use-fadeInLeft: true;
$use-fadeInRight: true;
$use-fadeOutLeft: true;
$use-fadeOutRight: true;

// SPINKIT LOADER ANIMATIONS SETTINGS
$spinkit-spinner-margin: 0 auto;
$spinkit-size: 20px;
$spinkit-spinner-color: red;
